.header
    
    .carousel.slide#carouselExampleIndicators(data-bs-ride="carousel")
            .carousel-indicators
                a.active(  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
                a( data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
                a(  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3") 
            .carousel-inner.container
                .carousel-item.active
                    .row
                        .col-lg-7.col-md-7
                            .kl
                                h4 Great Design Collection
                                h1  Valvet Accent Arm Chair
                                p Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiuiana Smod Tempor Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quis Nostrud Exercitation Ullamco Laboris Nisi Ut Aliquip.
                                p.p1 $ 299.00
                                    span $ 399.00
                                a.aa1(href="") add to cart
                                a.aa(href="") more info
                        .col-lg-5.col-md-5
                            img.img-fluid.d-block.w-100(src="imgs/slider1.png")
                        
    
                .carousel-item
                    .row
                        .col-lg-7.col-md-7
                            
                                h4 Great Design Collection
                                h1  Valvet Accent Arm Chair
                                p Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiuiana Smod Tempor Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quis Nostrud Exercitation Ullamco Laboris Nisi Ut Aliquip.
                                p.p1 $ 299.00
                                    span $ 399.00
                                a.aa1(href="") add to cart
                                a.aa(href="") more info
                        .col-lg-5.col-md-5
                            img.img-fluid.d-block.w-100(src="imgs/slider2.png")
                    
                .carousel-item
                    .row
                        .col-lg-7.col-md-7.kl
                            
                                h4 Great Design Collection
                                h1  Valvet Accent Arm Chair
                                p Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiuiana Smod Tempor Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam, Quis Nostrud Exercitation Ullamco Laboris Nisi Ut Aliquip.
                                p.p1 $ 299.00
                                    span $ 399.00
                                a.aa1(href="") add to cart
                                a.aa(href="") more info
                        .col-lg-5.col-md-5
                    
                            img.img-fluid.d-block.w-100(src="imgs/slider3.png")
                    
            .carousel-control-prev( type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            .carousel-control-next(type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden next
.sort
    .container
        .row
            .col-lg-3.col-sm-12
                .ll
                    
                    img.img-fluid(src="imgs/p1.png")
                    h4.text-center arm chair
                    p.text-center Nemo enim ipsam voluptatem quia
                        span.text-center volu ptas sit asperna aut odit aut

            .col-lg-6.col-sm-12
                .fl.ll
                    .row
                        .col-lg-4
                            img.img-fluid(src='imgs/p2.png')
                        .col-lg-8.tt
                            h4 Latest Designed Stool and Chair
                            p Edi Ut Perspiciatis Unde Omnis Iste Natusina Error Sit Voluptatem Accusantium Doloret Mque Laudantium, Totam Rem Aperiam.
                            h6 Sales Start from
                                span $99.00
                            a(href="") discover me
            .col-lg-3.col-sm-12
                .ll.l2
                    img.img-fluid(src="imgs/p3.png")
                    h4.text-center Hanging Lamp
                    p.text-center Nemo enim ipsam voluptatem quia
                        span.text-center volu ptas sit asperna aut odit aut

