.navbar
    .container
        .logo
            h4 furn.
        ul.list-unstyled
            li.active.lp
                a(href="") home
            li.lp
                a(href="#arr") new arrival
        
            li.lp
                a(href="#pro") features
            li.lp
                a(href="#blog") blog
            li.lp
                a(href="#con") contact
        i.fas.fa-bars.ic
        .search
            i.fas.fa-search
            i.fas.fa-cog
            i.fas.fa-shopping-cart
