.navbar
    .container
        .logo
            h4 furn.
        ul.list-unstyled
            li.active
                a(href="") home
            li
                a(href="") new arrival
        
            li
                a(href="") features
            li
                a(href="") blog
            li
                a(href="") contact
        i.fas.fa-bars.ic
        .search
            i.fas.fa-search
            i.fas.fa-cog
            i.fas.fa-shopping-cart
